#myMap {
  
    width:100%;
	height:450px;
	border: 1.5px solid;
}
.header{
	background-color:lightgrey;
	color:black;
	font-family:Verdana;
	height:100px;
	font-size: xx-large;
	
}

#title{
    text-align: center;
    font-family: Verdana;
	color: rgba(255, 255, 0, 0.76);
	font-size: xx-large;
	height: 92px;
}
.footer {
	background-color:lightgrey;
	color:black;
	height:150px;
	font-family:Verdana;
	list-style:none;
	font-size:24px;
}
}